.main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 64px 0px;
}
.tracking-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 808px;
}
