.header-bar {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 64px;
    z-index: 6666;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(74, 74, 78, 0.12);
    display: flex;
    justify-content: space-between;
}
.header-logo {
    align-self: center;
    margin: 0 32px;
    width: 97px;
    height: 48px;
    display: flex;
    justify-content: center;
}
.header-logo img {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
}
.avatar {
    align-self: center;
    margin: 0 128px;
}
.ant-popover {
    padding-right: 64px;
    text-align: center;
    z-index: 7777;
}
.ant-card-body > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ant-card-head-title {
    font-size: large;
    color: blueviolet;
}
