.user-response {
    width: 80%;
    margin-top: 128px !important;
    position: relative;
    margin: auto;
}
.anticon-left,
.anticon-right {
    height: 50px;
    width: 50px;
    background-color: #c4c4c4;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    > svg {
        display: block;
        margin: auto;
    }
    &:hover {
        box-shadow: 0 3px 6px rgba(180, 180, 180, 0.8);
    }
}
.anticon-left {
    left: -50px;
}
.anticon-right {
    right: -50px;
}
.success-story {
    width: 30%;
    display: inline-block;
    height: 100%;
    position: relative;
    border-radius: 25px;
    background-color: #e0e0e0;
    margin: 0px 15px;
    &:hover {
        transform: scale(0.9);
        box-shadow:
            5px 5px 8px rgba(222, 222, 222, 0.362),
            10px 10px 8px rgba(152, 133, 133, 0.392),
            15px 15px 8px rgba(139, 154, 139, 0.303);
    }
    cursor: pointer;
}
.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    height: 480px;
}
.slideshow-slider {
    white-space: nowrap;
    transition: ease 1000ms;
    width: 100%;
    height: 80%;
}
.slideshowDots {
    text-align: center;
}
.slideshowDot {
    display: inline-block;
    height: 4px;
    width: 20px;
    /* border-radius: 50%; */
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}
.slideshowDot.active {
    background-color: #6a0dad;
}
.quote {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin: auto;
    white-space: normal;
    height: 50%;
    position: absolute;
    bottom: 0;
    align-items: center;
    text-align: center;
}
.quote > q {
    font-style: italic;
    font-size: 20px;
    padding: 0px 16px;
}
.quote > p {
    font-style: oblique;
    width: 80%;
}
.card-image {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
    background-color: #0080ff;
    border-radius: 25px 25px 0 25px;
    padding: 10px 0;
    align-items: center;
}
.card-image img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
    padding: 3px;
    background-color: #0080ff;
}
